{% load static %}
    <!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán</title>
    <link rel="stylesheet" href="{% static 'Content/Stylebf25.css' %}">
    <!-- External CSS --> 
    <body style="background: url('{% static 'Content/img/bgs6.jpg' %}'); background-size: cover;">
        <link rel="stylesheet" href="{% static 'Content/Stylebf25.css' %}">
        <script src="{% static 'js/film-script.js' %}" defer></script>
        <!-- Google Fonts -->
        <!-- Favicon -->
        <link rel="icon" href="/favicon.ico">
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
                OneSignal.init({
                    appId: "d17589a4-68d3-451d-98d8-ffef22409a32",
                });
            });
        </script>
    </head>
    
    <body>
    <div class="main-content">
        <!-- Preloader -->
        <div style="display:none" class="main-reloader">
            <div class="loader"></div>
        </div>
        <!-- Preloader End -->
        <!-- Main Header -->
        
    <header class="filmoja-header-area">
    
        <!-- Header Top Area Start -->
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-3 col-sm-12">
                        <div class="header-top-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-9 col-sm-12">
                        <div class="header-top-menu">
                            <ul>
                                
                                <li><a href="/cau-hoi-thuong-gap.html">FAQ's</a></li>
                                
    
    <li class="user-loged" style="border: 1px solid #f37737;">
        <a style="color:#fff" title="Th&#225;i Tuấn T&#224;i" href="#">Th&#225;i Tuấn T&#224;i</a>
    
        <ul class="info_option">
            <li><a href="/thong-tin-tai-khoan.html"><i class="fa fa-user"></i>&nbsp; Th&#244;ng tin</a></li>
            <li><a href="#" onclick="logOut()"><i class="fa fa-sign-out"></i>&nbsp; Đăng xuất</a></li>
        </ul>
    </li>
    
    
    <script>
        function logOut() {
            $.ajax({
                url: "/MemberRegister/Logout",
                type: "POST",
                traditional: true,
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    //alert(result);
                    if (result === "true" || result === true) {
                        location.href = "/";
                    } else {
                    }
                },
                error: function () {
                    return false;
                }
            });
        }
    </script>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top Area End -->
        <!-- Main Header Area Start -->
        <div class="main-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="site-logo">
                            <a href="/">
                                <img src="{% static 'img/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                        <!-- Responsive Menu Start -->
                        <div class="filmoja-responsive-menu"></div>
                        <!-- Responsive Menu End -->
                    </div>
    
                    <div class="col-lg-9">
                        <div class="mainmenu">
                            <nav>
                                <ul id="responsive_navigation">
                                    <!-- Mobile Search Start -->
                                    <!-- Mobile Search End -->
                                    <li><a href="/">Trang chủ</a></li>
                                    <li>
                                        <a href="/lich-chieu.html">Lịch chiếu</a>
                                    </li>
                                    <li><a href="/packets.html">Mua Gói</a></li>
                                    <li>
                                        <a href="#">Phim</a>
                                        <ul>
                                            <li><a href="/phim.html">Phim Đang Chiếu</a></li>
                                            <li><a href="/phim-sap-chieu.html">Phim Sắp Chiếu</a></li>
    
                                        </ul>
                                    </li>
                                    <li><a href="/uu-dai.html">Khuyến Mãi</a></li>
                                    <li><a href="/tin-tuc.html">Điện Ảnh</a></li>
                                    <li><a href="/lien-he.html">Liên hệ</a></li>
                                    <li><a href="/tuyen-dung.html">Tuyển dụng</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Header Area End -->
    
    </header>
<body>
    <div class="main-content">
        <h2>Bước 3: Xác Nhận Thông Tin</h2>
        <div class="ticket-info">
            <h3>Thông Tin Người Mua</h3>
            <p>Người nhận: {{ ticket_info.name }}</p>
            <p>Email: {{ ticket_info.email }}</p>
            <p>Số điện thoại: {{ ticket_info.phone }}</p>

            <h3>Thông Tin Vé</h3>
            <p>Rạp: {{ ticket_info.cinema }}</p>
            <p>Phòng: {{ ticket_info.room }}</p>
            <p>Tên phim: {{ ticket_info.movie_name }}</p>
            <p>Suất chiếu: {{ ticket_info.time }}</p>
            <p>Số ghế: {{ ticket_info.seat }}</p>
            <p>Giá vé: {{ ticket_info.ticket_price|floatformat:0 }} đ</p>

            <h3>Tổng Tiền Thanh Toán</h3>
            <p>{{ ticket_info.total_price|floatformat:0 }} đ</p>

            <h3>Hình Thức Thanh Toán</h3>
            {% comment %} <form method="POST" action="{% url 'process_payment' %}"> {% endcomment %}
                {% csrf_token %}
                <input type="radio" id="atm" name="payment_method" value="ATM Nội địa" required>
                <label for="atm">ATM Nội địa</label><br>
                <input type="radio" id="credit_card" name="payment_method" value="VISA, MASTER, JCB, AMEX, CUP">
                <label for="credit_card">VISA, MASTER, JCB, AMEX, CUP</label><br>
                <button type="submit">Thanh Toán</button>
            </form>
        </div>
    </div>
</body>

    <!-- Footer Start -->
    
    <footer class="filmoja-footer-area">
        <div class="footer-top-area section_70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-footer-widget">
                            <a href="#"><img src="{% static "img/footer_logo.png" %}" alt="footer logo" /></a>
                            
                            <div class="footer-contact">
                                <p>Support: <a href="#">support@starlight.vn</a></p>
                                <p>Hotline: <a href="tell:1900 1722">1900 1722</a></p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Chính sách</h3>
                            <ul>
                                        <li><a href="/chinh-sach/dieu-khoan-chung-1.html"><i class="fa fa-angle-double-right"></i>Điều khoản chung</a></li>
                                        <li><a href="/chinh-sach/chinh-sach-thanh-toan-2.html"><i class="fa fa-angle-double-right"></i>Ch&#237;nh s&#225;ch thanh to&#225;n</a></li>
                                        <li><a href="/chinh-sach/chinh-sach-giao-nhan-3.html"><i class="fa fa-angle-double-right"></i>Ch&#237;nh S&#225;ch Giao Nhận</a></li>
                                        <li><a href="/chinh-sach/bao-mat-thong-tin-4.html"><i class="fa fa-angle-double-right"></i>Bảo Mật Th&#244;ng Tin</a></li>
                                        <li><a href="/chinh-sach/kiem-hang-doi-tra-hoan-tien-5.html"><i class="fa fa-angle-double-right"></i>Kiểm H&#224;ng, đổi trả/ho&#224;n tiền</a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-lg-4 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Download App</h3>
                            <div class="footer-app-box">
                                <p>Tải ngay ứng dụng đặt vé online cho dế yêu của bạn !</p>
                                <ul class="apps-list">
                                    <li><a href="https://play.google.com/store/apps/details?id=com.kingprocompany.starlightcinemas"><img src="{% static "img/app-1.jpg" %}" alt="app image" /></a></li>
                                    <li><a href="https://apps.apple.com/us/app/starlight-cinemas/id1588865280"><img src="{% static "img/app-2.jpg" %}" alt="app image" /></a></li>
                                </ul>
                                <ul class="apps-list">
                                    <li><a href="http://online.gov.vn/Home/WebDetails/118483" target="_blank"><img alt="" title="" src="{% static "img/congthuong.png" %} "></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3 style="color:#fff">CÔNG TY CỔ PHẦN ENTERTAINMENT 2020</h3>
                <p>
                    Giấy chứng nhận đăng kí doanh nghiệp công ty cổ phần: 0402021264 đăng ký lần đầu ngày 03/01/2020
                </p>
                <p>
                    Cơ quan cấp : Phòng Đăng ký kinh doanh - Sở kế hoạch và đầu tư Thành phố Đà Nẵng
                </p>
                <p>
                    Địa chỉ: Tầng 4, Tòa nhà Nguyễn Kim, 46 Điện Biên Phủ, TP. Đà Nẵng, Việt Nam
                </p>
                <p style="color:#fff">
                    Hotline (Đường dây nóng) : <a href="tel:19001722">19001722</a>
                </p>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-box">
                            <p>2019 © StarLight. All rights reserved - Design by <a href="https://kingpro.vn">KingPro</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section>
        <div id="mobile-menu">
            <ul>
                <li><a class="" href="/" style="background-color:#2b2b31;"><i class="fa fa-home"></i><br />Trang Chủ</a></li>
                <li><p onclick="toggleMBooking()" style="background-color: #2b2b31;"><i class="fa fa-ticket"></i><br /> Đặt V&#233;</p></li>
                <li><a class="" href="/lich-chieu.html" style="background-color: #2b2b31;"><i class="fa fa-film"></i><br /> Lịch Chiếu</a></li>
                <li><a href="/uu-dai.html" style="background-color: #2b2b31;"><i class="fa fa-gift"></i><br /> Ưu Đ&#227;i</a></li>
            </ul>
        </div>
    
    </section>
    <section>
        <div class="mobile-book">
            <select class="slMTheater" onchange="selectMServer(this)">
                <option value="0">Rạp</option>
            </select>
            <select class="slMFilm" onchange="selectMFilm(this)">
                <option value="0">Phim</option>
            </select>
            <select class="slMDate" onchange="selectMDate(this)">
                <option value="0">Ng&#224;y chiếu</option>
            </select>
            <select class="slMTime" onchange="selectMTime(this)">
                <option value="0">Suất chiếu</option>
            </select>
            <a id="btnMBooking" onclick="btnMBooking()">Mua V&#233; Ngay</a>
        </div>
    </section>
    
    
    <script>
        function logOutMenu() {
            $.ajax({
                url: "/MemberRegister/Logout",
                type: "POST",
                traditional: true,
                datatype: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    //alert(result);
                    if (result === "true" || result === true) {
                        location.href = "/";
                    } else {
                    }
                },
                error: function () {
                    return false;
                }
            });
        }
    </script>
    <script>
        function toggleMBooking() {
            $(".mobile-book").toggleClass("show-mobile-book");
        }
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    
        <div class="modal fade" id="adsImageModal" role="dialog" style="background: rgba(51, 51, 51, 0.46);">
            <div class="modal-dialog" style="width:95%;max-width:95%;margin:100px auto;">
                <!-- Modal content-->
                <div class="modal-content" style="    max-width: 640px;margin: 0 auto;">
                    <div class="modal-body" style="padding:0">
                        <img id="adsImage" style="    border: 3px solid #000;border-radius: 3px;width:100%" src="http://www.starlight.vn/Areas/Admin/Content/Fileuploads/images/POSTER/z2950019928727_f1e225b7c12d6c9e9cd4af710d7e685f.jpg" />
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <script src="/Scripts/Style"></script>
    
        <script src="/Scripts/js/film-script.js"></script> {% endcomment %}
    
    </body>
    </html>
</html>
